/* ==================== FSU VS UF CSS  ==================== */

#rivalrysection {
    padding: 10px 10px 10px 10px;
    background-color: #862633;
    color: gold;
    text-align: left;
    padding-left: 20%;
    margin: 0% 10%;
    border-radius: 25px;
}

#rivalrysection h2 {
    color: black;
    text-decoration: underline ;
}

figure {
    margin-left: 37%;
    margin-bottom: 5%;
}

/* ==================== END FSU VS UF CSS  ==================== */

/* ==================== TOP 5 QUARTERBACKS IN THE NFL CSS  ==================== */

.jumbotron h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

#nflsection {
    color: #CEB888;
    background-color: black;
    padding: 10px;
    width: 80%;
    display: block;
    margin: auto;
}

#nflsection a {
    text-decoration: none;
}

#nflsection a:visited {
    text-decoration: none;
}

#nflsection a:hover {
    text-decoration: underline;
    color: red;
}

figure.floatleft {
    float: left;
    margin: 0px;
}

/* ==================== TOP 5 QUARTERBACKS IN THE NFL CSS  ==================== */