/* Space out content a bit */


h1 {
	color: #CEB888;
	font-size: 200%;
	font-weight: 600;
}


h2 {
	font-size: 200%;
	font-weight: 600;
	color: #CEB888;
}

h3 {
	font-size: 130%;
	color: #CEB888;
}

p {
	color: #CEB888;
	font-size: 100%;
}

.header a {
	color: #CEB888;
	float: right;
}

.header a:hover {
	text-decoration: none;
	color: white;
}

.image {
	margin: auto;
	background-color: #CEB888;
	padding: 10px;
	width: 90%;
	height: 250px;
	border-radius: 8px;
	font-size: 118%;
	font-weight: 600;
}





/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  background-color: rgb(44,42,41);
  max-height: 100px;
  padding-top: 15px;
  padding-right: 45px !important;
  padding-left: 45px !important;
  padding-bottom: 15px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: #782F40;
  margin-top: 5%;
  border-radius: 12px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */


 @media (max-width: 990px) {
	.jumbotron  {
		margin-top: 10%;
		max-width: 98%;
	}
	.jumbotron h3 {
		font-size: 100%;
	}
	
	.image {
		font-size: 80%;
		height: auto;
	}
	
	
 }